footer {
    background-color: #3d6d79f6;
    height:auto;
}

footer li {
    list-style:none;
}

#cont-logo {
    padding-left: 0vw;
    padding-bottom: 2vw;
}

#cont-ext-ft {
    padding-top: 4vw;
    padding-left: 4vw;
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.6fr 0.6fr 1.5fr;
    color: rgb(163, 172, 182);
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 5vw;
}

#cont-izq-ft p {
    color: #7D92A5;
}

#cont-izq-ft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1vw;
}

#cont-izq-ft a{
    color: rgb(163, 172, 182);
    
}

#cont-rrss {
    display: flex;
    gap: 1.2vw;
    padding-top: 1.5vw;
}

#cont-cen-ft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1vw;  

}

#cont-cen-ft h5 {
    color: rgb(163, 172, 182);
}

#cont-cen-ft a {
    color: #7D92A5;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

#cont-der-ft {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 4vw;
    gap: 1vw;
}

#copyright-txt {
    margin: 0; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-family: 'Noto Sans', sans-serif;
    font-size: 1vw;
    color:#7D92A5;
}

